
body {
    background-color:aqua;
    font-family:cursive;
}
header { background-color: yellow;
    font-size: 2rem;
    border: 60px solid black;
    border-radius: 50%;

}
li { font-family: cursive;
    font-weight: 2rem;
    font-size: 2rem;
    border: 10px black;


}

p {
    font-family: Tahoma;
    font-size: 40px;
    background-color: blue;
    border-radius: 100%;
    color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    

}
#name {
    font: size 80px;

}
 
#email {  font-size: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
}
#email2 {
    font-size: 3rem ;
    color: red;
    border: 20px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

}
#contacts {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project_list {

    border: 9px solid yellow;
    
    

}
#workproj {
    font-family: cursive;
    background-color: lavender;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    font-weight: bolder;
    

}
#list {
    background-color: greenyellow;
    font-size: 30px;
    list-style: none;
    
}
#placeholder {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
li{
    border: 2px solid red;
    margin: 15px;
    padding: 20px;
    }
h2 {
   font-size: 65px; 
   


}
#me {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-color: black;
    
}
